@mixin logo_title {
	font: {
	  family: Arial;
	  size: 2.4rem;
	  weight: 700;
	}
	font-style: normal;
	line-height: 3.0rem;
	letter-spacing: 0.05em;
}

.account {
    position: relative;
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 4rem 2rem;
}

.buttons-cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    .button[data-modal] {
        padding: .5em;
        height: unset;
        line-height: 1.5;
    }
}

.button {
    width: 16rem;
    height: 4.5rem;
    @include h5;
    color: $color-light-s;
    background-color: $color-primary;
    border: none;
    border-radius: 1rem;
    transition: background-color 0.25s;

    &:hover {
        cursor: pointer;
        color: $color-text;
        background-color: #ffc194;
    }

    &.album-item__button:hover {
        color: $color-text;
        background-color: #ffc194;
    }

    &:active,
    &:focus {
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.albums-container {
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include h4;
    color: $color-dark-m;
    span {
        flex: 0 1 100%;
        display: inline-block;
        width: 6.4rem;
        height: 6.4rem;
        background-image: url('../assets/images/click.svg');
        background-repeat: no-repeat;
	    background-size: 6.4rem;
	    background-position: center;
    }
}

.modal {
    width: 80%;
    min-height: 40rem;
    z-index: 3;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-light-s;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(105, 127, 144, 0.47);
}

.modal_active {
    display: flex;
}

.modal_share{
    width: 60%;
    min-height: 30rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.column-element {
    flex: 0 1 100%;
    text-align: center;
}

.modal__text {
    display: inline-block;
    width: calc(100% - 3rem);
    text-align: left;
    padding-left: 2rem;
    color: $color-secondary;
    @include h4;
}

.button-cross {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/images/cross.svg');
    opacity: 0.6;
    background-repeat: no-repeat;
	background-size: 2rem;
    background-position: center;
    transition: transform 0.25s ease;
    &:hover {
        cursor:pointer;
        transform:scale(1.08);
    }
}

.modal__icon {
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    background-image: url('../assets/images/upload.svg');
    filter: grayscale(70%);
    opacity: 0.2;
    background-repeat: no-repeat;
	background-size: 6.4rem;
	background-position: center;
}

.modal__content {
    flex: 0 1 50%;
    margin-left: 4rem;
    text-align: center;
    p {
        margin-bottom: 2rem;
        @include paragraph-l;
    }
}

.drop-area {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed $color-dark-s;
    border-radius: 2rem;
    font-family: sans-serif;
    margin: 2rem auto;
    padding: 2rem;

    &.drop-area_highlight {
        border-color: $color-secondary;
    }
}

.button-cont {
    flex: 0 1 100%;
    text-align: right;
}

.modal__button {
    width: 8rem;
    height: 3.5rem;
    margin-right: 2rem;
}

.button_copy {
    width: 12rem;
    height: 3.6rem;
    vertical-align: middle;
    border-radius: 0;
    margin-left: -0.3rem;
    img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        margin-right: 0.5rem;
        vertical-align: middle;
    }
}

.modal__button_invisible {
    display: none;
}

.modal__button_light {
    background-color: $color-dark-s;
}

#fileElem {
    display: none;
}

.button-upload {
    display: inline-block;
    padding: 1rem;
    color: $color-dark-l;
    @include h5;
    background: transparent;
    border-radius: 1rem;
    border: 2px solid $color-primary;
    &:hover {
        background: $color-primary;
        cursor: pointer;
    }
    &:active,
    &:focus {
        outline: none;
        border: 2px solid $color-primary;
        cursor: pointer;
    }
}

.gallery {
    flex: 0 1 100%;
    margin: 2rem 0rem;
    min-height: 10rem;
    max-height: 13rem;
    overflow: auto;
    & img {
        width: 6rem;
        height: 8rem;
        object-fit: contain;
        vertical-align: middle;
        box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
        margin: 0.5rem 0.5rem;
    }
}

.steps {
    min-height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.steps__icon {
    width: 5rem;
    height: 5rem;
    padding: 0.7rem 0;
    text-align: center;
    border-radius: 50%;
    border: 2px solid $color-primary;
    @include logo_title;
    color: $color-dark-l;
    background-color: $color-light-xl;
}

.steps__description {
    flex: 0 1 60%;
    margin-left: 5rem;
    text-align: center;
    @include paragraph-l;
    color: $color-text;
    a {
        color: $color-primary;
        text-decoration: underline;
        cursor:pointer;
        font-weight: 700;
    }
    span {
        font-weight: 700;
    }
}

#nickname {
    flex: 0 1 40%;
    border-radius: 0.25rem;
}

.steps__button {
    width: 4rem;
    height: 4rem;
    margin-left: 3rem;
    background-image: url('../assets/images/next.svg');
    background-size: 4rem;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.07);
    }
}

.steps__button_back {
    margin-right: 3rem;
    background-image: url('../assets/images/previous.svg');
}

.modal__message {
    flex: 0 1 100%;
    text-align: center;
    margin-top: 2rem;
    color: #C06046;
    @include paragraph-l;
    font-weight: 700;
}

.select-group {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
}

.select-collection {
    flex: 0 1 50%;
    position: relative;
    display: flex;
    height: 4rem;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.album-item {
    flex: 0 1 100%;
    height: 9rem;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    background-color: $color-light-s;
    border-bottom: solid 1px $color-secondary;
    .album-item__description {
        flex: 0 0 30%;
    }
    .album-item__date {
        flex: 0 1 25%;
    }
    .buttons-cont {
        display: none;
        flex: 0 1 45%;
        align-items: center;
        margin-bottom: 0rem;
    }
    .album-item__icon {
        flex: 0 1 45%;
    }

    &:hover {
        background-color: $color-light-l;
        .album-item__icon {
            display:none;
        }
        .buttons-cont {
            display: flex;
        }
    }
}

.album-item__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem;
    .first-page {
        display: block;
        width: 5rem;
        height: 7rem;
        object-fit: cover;
    }
    .content {
        text-align: center;
        @include paragraph-l;
        width: 15em;
    }
}

.album-name {
    font-weight: 700;
    color: $color-dark-3xl;
    width: 15em;
    padding-left: 1em;
}

.album-pages {
    color: $color-secondary;
}

.album-item__date {
    display: flex;
    justify-content: center;
    align-items: center;
    @include paragraph-l;
    color: $color-dark-3xl;
}

.album-item__button {
    width: 10rem;
    height: 3.5rem;
    margin-right: 1rem;
    background-color: $color-light-s;
    border: solid 2px $color-primary;
    color: $color-dark-3xl;
    img {
        width: 1.8rem;
        height: 1.8rem;
        object-fit: cover;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
}

.album-item__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    div {
        margin-right: 2rem;
    }
    span {
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        background-color: $color-dark-xl;
        border-radius: 50%;
        letter-spacing: 0;
    }
}
