$color-primary: #1495b3;
$color-secondary: #ffb27d;
$color-text: #212529;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

@mixin logo_title {
	font: {
	  family: Arial;
	  size: 2.4rem;
	  weight: 700;
	}
	font-style: normal;
	line-height: 3.0rem;
	letter-spacing: 0.05em;
}

@mixin h3 {
    font: {
    family: Arial;
    size: 2.4rem;
    weight: 400;
    }
    font-style: normal;
    line-height: 3.0rem;
    letter-spacing: 0.21rem;
}

@mixin h4 {
    font: {
    family: Arial;
    size: 2.0rem;
    weight: 700;
    }
    font-style: normal;
    line-height: 2.3rem;
    letter-spacing: 0.115rem;
}

@mixin h5 {
    font: {
    family: Arial;
    size: 1.5rem;
    weight: 700;
    }
    font-style: normal;
    line-height: 1.7rem;
    letter-spacing: 0.087rem;
}

@mixin paragraph-l {
    font: {
    family: Arial;
    size: 1.4rem;
    weight: 400;
    }
    font-style: normal;
    line-height: 2.0rem;
    letter-spacing: 0rem;
}

.editor {
    width: 100%;
    height: 100vh;
    display: flex;
}

.settings {
    flex: 0 1 320px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 3rem 0rem 0rem 1.5rem;
    background-color: $color-light-s;
    h3 {
        @include h3;
        color: $color-primary;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.preview {
    flex: 0 2 calc(100% - 320px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-s;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.skin {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 5%;
}

.settings__title {
    flex: 0 1 100%;
}

.settings__wrapper {
    flex: 0 1 100%;
    height: calc(100vh - 145px);
    overflow-y: auto;
}

.settings__button {
    width: 10rem;
    height: 4rem;
}

.settings__button_light {
    background-color: $color-dark-s;
    color: $color-dark-3xl;
}

.settings__elem {
    position: relative;
    width: calc(320px - 16px - 1.5rem);
    border-top: solid 1px $color-dark-s;
    &:last-child {
        border-bottom: solid 1px $color-dark-s;
    }
}

.settings__appearance {
    flex: 0 1 290px;
    height: 6rem;
    display: flex;
    align-items: center;
}

.settings__icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    vertical-align: middle;
}

.settings__name {
    flex: 0 1 95%;
    display: inline-block;
    @include h5;
    font-weight: 400;
    color: $color-dark-3xl;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.settings__trigger {
    display: inline-block;
	width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
	background-image: url('../assets/images/arrow-left.svg');
	background-size: 1.8rem;
    background-position: center;
    cursor: pointer;
    transition: transform 0.4s ease-in;
}

.settings__trigger_turned {
    transform: rotate(-180deg);
}

.settings__popup {
    height: 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: $color-light-xl;
    transition: height 0.4s ease-in;
}

.settings__popup_name {
    p {
        margin: 2rem 1.5rem 1rem;
        color: $color-dark-l;
        @include paragraph-l();
    }
    input {
        width: 90%;
        margin: 1rem 1.5rem 3rem;
        border: solid 1px $color-primary;
    }
}

.settings__popup_font {
    p {
        margin: 2rem 1.5rem 3rem;
        color: $color-dark-l;
        @include paragraph-l();
    }
    input {
        width: 4.4rem;
        margin: 2rem 1.5rem 3rem;
        padding: 0.3rem;
        cursor: pointer;
    }
}

.settings__popup_background {
    justify-content: space-around;
}

.settings__popup_sound {
    p {
        margin: 2rem 1.5rem 3rem;
        color: $color-dark-l;
        @include paragraph-l();
    }
    input {
        width: 2.5rem;
        height: 2.5rem;
        margin: 2rem 1.5rem 3rem;
    }
}

.background-example {
    display: block;
    width: 8rem;
    height: 6rem;
    margin: 1rem 0;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.5);
    cursor: pointer;
}

.background-example_active {
    border: solid 1px $color-primary;
}

.album-wrapper {
	width: 100%;
    padding: 15px;
}

.page {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.page {
    width: 492px;
    height: 616px;
    background-color:#b8a364;
    background-image: url(../assets/images/light-paper-fibers.png);
    color: #785e3a;
    overflow: hidden;
}

.page.--right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4), 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.page.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4), 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.cover{
    background-color: #814921;
    background-image: url(../assets/images/leather.png);
    border: 1px solid #be955c;
}

.cover_top {
    box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -3px 0 5px 2px rgba(0, 0, 0, 0.4);
    border: solid 1px #be955c;
}

.cover_bottom {
    box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 3px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.cover__back {
    width: 97%;
    height: 95.2%;
    margin: 3% 0 3% 3%;
    background-color:#b8a364;
    background-image: url(../assets/images/light-paper-fibers.png);
    box-shadow: 0 0 7px #686363 inset;
}

.cover__back_bottom {
    margin: 3% 3% 3% 0;
}

.page__content {
    width: 100%;
    height: 100%;
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4%;
    color: $color-text;
}

.page__content_cover {
    position: relative;
    justify-content: center;
    padding: 0;
}

.cover__bar{
    position: absolute;
    left: 4%;
    width: 5%;
    height: 100%;
    background-color: #8149219f;
    border-left: 1px solid #be955c;
    border-right: 1px solid #be955c;
    box-shadow: 0 0 7px #141313 inset;
}

.cover__img {
    flex: 0 1 100%;
    padding: 4rem 0rem 0rem;
    img {
        width: 20%;
        height: 20%;
        object-fit: contain;
        margin: 0 auto;
    }
}

.cover__title {
    margin-left: 9%;
    font-family: 'Helvetica', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-shadow:
    -1px -1px #000,
    0 1px 0 #be955c;
    color: #814921;
    text-align: center;
    width: 80%;
}

.stamp {
    flex: 0 1 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //padding: 8px;
}

.stamp {
    .stamp__img {
        width: 100%;
        height: auto;
        max-height: calc(100% - 5% - 48px);
        display: block;
        object-fit: contain;
        // box-shadow: 0px 0px 5px 0px rgba(93, 82, 55, 1);
    }
}

.stamp__title {
    width: 100%;
    //max-height: 48px;
    margin-top: 5%;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font: {
        family:  'Kalam', cursive;
        size: 2rem;
        weight: 400;
        }
    font-style: normal;
    line-height: 2.5rem;
}

@media all and (max-width: 1023px) {
    .stamp__title {
        max-height: 42px;
        font: {
            size: 1.6rem;
            }
        line-height: 2rem;
    }
}
