$color-primary: #1495b3;
$color-primary-dark: #0d7d96;
$color-secondary: #db8446;
$color-text: #212529;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-error-message: red;
$color-success-message: green;

@mixin h4 {
    font: {
    family: Arial;
    size: 2.0rem;
    weight: 700;
    }
    font-style: normal;
    line-height: 2.3rem;
    letter-spacing: 0.115rem;
}

@mixin h5 {
    font: {
    family: Arial;
    size: 1.5rem;
    weight: 700;
    }
    font-style: normal;
    line-height: 1.7rem;
    letter-spacing: 0.087rem;
}

@mixin paragraph-l {
    font: {
    family: Arial;
    size: 1.4rem;
    weight: 400;
    }
    font-style: normal;
    line-height: 2.0rem;
    letter-spacing: 0rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form {
    flex: 0 1 500px;
    border: solid 1px $color-primary;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(105, 127, 144, 0.47);
}

.form-group {
    flex: 0 1 100%;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.form-group_invisible {
    display: none;
}

.login-form__title {
    @include h4;
    color: $color-text;
    margin-bottom: 0.5rem;
}

.login-form__subtitle {
    @include h5;
    color: $color-dark-m;
}

.form__text {
    @include paragraph-l();
    color: $color-dark-m;
    &.error-message { color: $color-error-message; }
    &.success-message { color: $color-success-message; }
}

.form__link {
    @include paragraph-l();
    color: $color-primary;
    margin-left: 1rem;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.form__icon {
    display: inline-block;
	width: 3.6rem;
	height: 3.6rem;
    padding: 0.2rem;
    border: solid 1px $color-dark-m;
	vertical-align: middle;
    background-size: 3.2rem;
    background-position: center;
    background-repeat: no-repeat;
}

.form-group_name {
    .form__icon {
        background-image: url('../assets/images/person.svg');
    }
}

.form-group_email {
    .form__icon {
        background-image: url('../assets/images/envelope.svg');
    }
}

.form-group_password {
    .form__icon {
        background-image: url('../assets/images/locker.svg');
    }
}

input {
    border: solid 1px $color-dark-m;
    vertical-align: bottom;
    margin-left: -0.3rem;
    width: 30rem;
    height: 3.6rem;
    text-indent: 1rem;
}

.form__button {
    width: 15rem;
    height: 4rem;
    @include h5;
    color: $color-light-s;
    background-color: $color-primary;
    border: none;
    border-radius: 1rem;

    &:hover {
        cursor: pointer;
        background-color: $color-primary-dark;
    }

    &:active,
    &:focus {
        outline: none;
        border: none;
        cursor: pointer;
    }
}
