.progress-wrapper {
    width: 100%;
    height: calc(100% - 4rem);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    background-color: $color-light-s;
}

.progress-text {
    width: 100%;    
    text-align: center;
    @include paragraph-l;
    color: $color-dark-3xl;
}

progress {
    width: 70%;
    height: 2.5rem;
    -webkit-appearance: none;
    display: block;
    margin: 2rem auto;
    padding: 0.4rem;
    border: 0 none;
    background: $color-dark-l;
    border-radius: 1.4rem;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

::-webkit-progress-bar {
    background: transparent;
}

::-webkit-progress-value {
	border-radius: 5rem;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background-color: $color-secondary;    
    transition: width 0.6s linear;	
}
