﻿@import 'login.scss';
@import 'account.scss';
@import 'editor.scss';
@import 'user.scss';
@import 'loader.scss';
@import 'progress.scss';

$color-primary: #1495b3;
$color-secondary: #db8446;
$color-text: #212529;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

@mixin logo_title {
	font: {
	  family: Arial;
	  size: 2.4rem;  
	  weight: 700;
	}
	font-style: normal;
	line-height: 3.0rem;
	letter-spacing: 0.05em; 
}

@mixin h3 {
    font: {
    family: Arial;
    size: 2.4rem;  
    weight: 400;
    }
    font-style: normal;
    line-height: 3.0rem;
    letter-spacing: 0.21rem;
}

@mixin h4 {
    font: {
    family: Arial;
    size: 2.0rem;  
    weight: 700;
    }
    font-style: normal;
    line-height: 2.3rem;
    letter-spacing: 0.115rem;
}

@mixin h5 {
    font: {
    family: Arial;
    size: 1.5rem;  
    weight: 700;
    }
    font-style: normal;
    line-height: 1.7rem;
    letter-spacing: 0.087rem;
}

@mixin paragraph-l {
    font: {
    family: Arial;
    size: 1.4rem;  
    weight: 400;
    }
    font-style: normal;
    line-height: 2.0rem;
    letter-spacing: 0rem;
}
  
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
  
:root {
	font-size: 10px;
}

.no-scroll {
    width: 100%;  
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    display: block;   
    background-color: rgba(100, 100, 100, 0.2);            
}

#app-root {
	display: flex;
	flex-flow: column wrap;
	justify-content: stretch;
	min-height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
}

header {
	flex: 0 1 7rem;
    width: 100%;
    padding: 0 2rem;
    display:flex;
    justify-content: space-between;
	align-items: center;
	background-color: $color-light-l;
    border-bottom: solid 1px $color-dark-m;
    z-index: 1;
}

.logo-container {
	padding: 1rem 0rem;
}

.logo {
	display: inline-block;
	width: 5rem;
	height: 4rem;
	vertical-align: middle;
	background-image: url('../assets/images/book.svg');
	background-size: 5rem;
	background-position: center;
}

.title {
	display: inline-block;
	vertical-align: middle;
	@include logo_title;
	color: $color-primary;
}

main {
	flex: auto;
	min-height: 450px;
	background-color: $color-light-s;
	display: flex;	
}

footer {
	flex: 0 1 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $color-dark-m;
	padding: 1rem 2rem;
	@include h5;
	color: $color-text;
	background-color: $color-light-s;
}
  
.rs-logo {
	text-align: center;	

	img {
		width: 9rem;	
	}
}
  
.author {
	margin-left: 3rem;
	text-align: center;

	a {
		color: $color-secondary;
	}
}
