.account-nav {
    flex: 0 1 auto;
    height: 7rem;
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: row;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.user__icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    vertical-align: middle;
}

.user__name, .user__email {
    display: inline-block;
    max-width: 20rem;//width: 75px;
    @include h5;
    color: $color-dark-3xl;
    margin-left: 1rem;
    //overflow: hidden;
    //text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
}

.user__email {
    font-size: 1.2rem;
    color: $color-dark-l;
    font-weight: normal;
    padding-top: .5rem;
}

.user__button {
    display: inline-block;
	width: 2.8rem;
    height: 2.8rem;
    position: relative;
    top: 1.5rem;
    margin-left: 1rem;
	vertical-align: baseline;
	background-image: url('../assets/images/arrow.svg');
	background-size: 2.8rem;
    background-position: center;
    cursor: pointer;
}

.user__button_turned {
    transform: rotate(-180deg);
}

.navigation {
    display: none;
    width: 180px;
    position: absolute;
    top: 7.1rem;
    right: 2rem;
    list-style-type: none;
    padding: 3rem 2rem;
    @include paragraph-l;
    background-color: $color-light-s;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    li {
        margin-bottom: 0.5rem;
    }
}

.navigation_active {
    display: block;
}

.navigation__text {
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
}

.navigation__item {
    margin-left: 1px;
    vertical-align: middle;
    cursor:pointer;
    &:hover {
        color: $color-primary;
    }
}

.navigation__icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 1rem;
}
